.vedio{
    width: 100%;
    margin-top: 14rem ;
    margin-bottom: 5rem;
}
.vedio_box{
    width: 80%;
    margin: 0 auto;
}
.vedio_box h1{
    font-family: 3rem;
    line-height: 1;
}
.vedio_box p{
    font-size: 1.3rem;
    width: 40%;
    line-height: 1.2;
}
.vedio_box_frame{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    gap: 1rem;
    padding: 5rem;
    margin-top: 6rem;
}
.vedio_box_frame_left{
    grid-column : 1 / 8;
    grid-row: 1 / -1;
    z-index: 111111111;
}
.vedio_box_frame_img{
    border-radius: 1rem;
    object-fit: cover;
    overflow: hidden;
   

}
.vedio_box_frame_right{
    grid-column: 3 / -1;
    background-color:  var(--icons-color);
   border-radius: 1rem;
   grid-row: 1 / -1;
   padding: 3rem 0 ;
   margin-top: -5rem;
   box-shadow: var(--box-shadow);
}


/* @media screen and (min-device-width: 427px) and (max-device-width: 770px){
    .vedio_box_frame_img{
        grid-template-columns: repeat(2 ,1fr);
    }
}
/* @media screen and (min-device-width: 771px) and (max-device-width: 1024px){
    .vedio_box_frame_img{
        grid-template-columns: repeat(3 ,1fr);
    } */
/* } */ 


@media screen and (max-width: 35em) {
    .vedio_box{
        width:90%;
    }
    .vedio_box_frame{
        padding: 0;
    }
    .vedio_box_frame_right{
        margin-top: -2rem;    
    }
    .vedio_box h1{
        font-size: 2rem;
    }
    .vedio_box p{
        width: 100%;
    }
    .vedio_box_frame_img{
        width: 200;
        height: 200;
    }

}
